p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.2em;
}

p.important {
    font-size: 1.5em;
    font-weight: 900;
}

h1 {
    font-family: “Trebuchet MS”, Helvetica, sans-serif;
    font-size: 2em;
}

.typewriter {
    font-family: "Courier New", Courier, monospace;
}

.emphasized {
    font-style: italic;
}

.standout {
    color: #cc0000;
}

p.more-readable {
    line-height: 1. 2em;
}

p.spacey {
    letter-spacing: 1em;
    word-spacing: 1em;
    line-height: 2.4em;
  }

  h1 {
    text-align: center;
  }

  p.pretty {
    text-align: justify;
  }

  h3 {
    text-align: center;
  }

  p.tabbed {
    text-indent: 1.5em;
  }
  blockquote {
    font-size: .9em;
    color: grey;
  }

  p.offset {
    margin: 2em;
  }

  .enclosed {
    border: 4px solid red;
    background-color: #ccc;
    padding: .5em;
  }

  h4, p.mid {
    text-align: center;
  }

  h2#warm {
    color: orange;
  }

  div#midpage {
    margin: 0 3em 0 3em;
    font-family: Arial, Helvetica, sans-serif;
  }

  img.has-own-line {
    display: block;
  }

  img.inset {
    margin-left: 5em;
  }

  img.mid {
    display: block;
    margin: 0 auto;
  }

  img.fl {
    float: left;
    margin-right: .5em;
  }

  p.clr {
    clear: both;
  }

  a {
    color: grey;
    
}

  a:hover {
    color: orange;
  }

  li {
    margin-bottom: 0.75em;
  }

  ul {
    list-style-type: square;
  }

  div#midpage p {
    font-size: 2em;
  }

  div#main > div {
    color: blue;
    font-size: 1.5em;
  }

  input[type="text"], textarea {
    font-size: 2em;
    padding: .25em;
  }